.buttonParagraph {
  color: #c4c5c5;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

.actionButtonWrap {
  margin-top: 40px;
}
.cardWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
}
